/* @override http://squid.advanstar.info/public/assets/themes/advanstar/stylesheets/application_logs.css */

table.applicationLogs {
  width: 530px;
}

table.applicationLogs th {
  background: transparent;
  border-bottom: 1px solid #333;
  padding-right: 10px;
	}

table.applicationLogs tr.logToday {
  background: #f9ffeb;
}

table.applicationLogs tr.logYesterday {
  background: #fcfff5;
}

table.applicationLogs tr.logOlder {
  background: white;
}

table.applicationLogs td {
  border-bottom: 1px dotted #c8dbc2;
  padding: 5px 0 10px 0;
	}

table.applicationLogs td.logTypeIcon {
  width: 65px;
  padding-left: 10px;
}

table.applicationLogs .logProject, table.applicationLogs .logTakenOnBy {
  text-align: right;
  
}

table.applicationLogs .logProject {
  width: 100px;
}

table.applicationLogs .logTakenOnBy {
  width: 150px;
  padding-right: 10px;
}