#people div.projectCompany {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #193F5A;
  background: #111 url('') no-repeat 10px 10px;
  min-height: 50px;
}

* html #people div.projectCompany {
  height: 50px;
}

#people div.projectCompanyLogo {
  float: left;
  width: 60px;
}

#people div.projectCompanyMeta {
  margin-left: 60px;
}

#people div.projectCompany a.companyName {
  font-size: 150%;
  font-weight: bold;
}

#people div.projectCompanyAddress, #people div.projectUserTitle, #people div.projectUserEmail {
  margin-top: 5px;
  padding-left: 5px;
  font-size: 100%;
  color:#fcfcfc;
  line-height: 120%;
}

#people div.projectCompanyHomepage {
  margin-top: 5px;
  padding-left: 5px;
  font-size: 100%;
  line-height: 100%;
}

#people div.projectCompanyOptions {
  margin-top: 5px;
  font-size: 1.0em;
  border-top: 1px dotted #193F5A;
}

#people div.projectCompanyUsers table {
  margin-top: 20px;
  background: #111;
  width: 448px;
}

#people div.projectUserTitle, #people div.projectUserEmail {
  margin: 0;
}