body {
  text-align: left;
}

body a {
  color:#BB643F;
}

a:visited    	{ color: #BB643F }
a:link    	{ color: #BB643F }
a:active    	{ color: #BB643F }

#wrapper {
  text-align: center;
  background: #FFFFFF;
}

#header {
  width: 900px;
  margin: 0 auto;
  padding-top: 10px;
  text-align: left;
}

#headerWrapper {
  background: #FFF;
}

#header h1 {
  float: left;
  margin: 0;
  padding: 10px 0 10px 10px;
  border: 0;
}

#header h1 a {
  font-weight: bold;
  border: 0;
  font-size: 24px;
  color: #E48100;
}

#header h1 a:hover {
  border: 0;
  text-decoration: underline;
}

#systemNoticesWrapper {
  background: red;
  color: white;
  text-align: center;
}

#systemNotices {
  margin: 0 auto;
  padding: 10px 0;
  width: 900px;
  text-align: left;
}

#systemNotices ul {
  margin: 0;
  padding: 0 0 0 15px;
}

#systemNotices a, #systemNotices a:hover {
  border: 0;
  color: white;
  text-decoration: underline;
}

#userboxWrapper {
  margin-left: 500px;
  color: #666;
  font-size: 10px; 
}

#userbox {
  padding: 5px 8px;
  text-align: right;
  font-size: 11px;
}

#userbox ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#userbox ul li {
  display: inline;
  margin-right: 2px;
}

#userbox .PopupMenuWidgetDiv {
  position: absolute;
  border: 1px solid #ccc;
  background: white;
  padding: 5px 10px;
  width: 140px;
  color: #333;
}

#userbox .PopupMenuWidgetDiv p {
  margin: 0;
  font-weight: bolder;
}

#userbox .PopupMenuWidgetDiv ul {
  margin-left: 12px;
  padding-left: 5px;
}

#userbox .PopupMenuWidgetDiv ul li {
  display: list-item;
  font-weight: normal;
  list-style: square;
}

/** Tabs **/

#tabsWrapper {
  width: 900px;
  margin: 5px auto 0 auto;
  text-align: left;
}

#tabs {
  float: left;
}

#tabs ul {
  margin: 0;
  padding: 0 10px;
  list-style: none;
}

#tabs ul li {
  margin: 0 2px;
  float: left;
}

#tabs ul li a {
  border: 0;
  display: block;
  padding: 0 5px;
  text-align: center;
  color: #333;
  font-size: 12px;
  font-weight: normal;
  line-height: 20px;
  text-decoration: none;
  background : #FFB950;
}

#tabs ul li a:hover {
  border: 0;
  color: #333;
  text-decoration: underline;
}

#tabs ul li.active a {
  background : #A53200;
  color : #FFF;
}

#tabs ul li.active a:hover {
  color: white;
  text-decoration: none;
}

/** Crumbs **/

#crumbsWrapper {
  clear: both;
  background: #A53200;
  margin: 0 auto;
  float: left;
  width: 100%;
}

#crumbsBlock {
  margin: 0 auto;
  padding: 0 10px;
  width: 880px;
  line-height: 25px;
  text-align: left;
}
    
#crumbs {
  float: left;
}

#crumbs ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#crumbs ul li {
  display: inline;
  line-height: 22px;
  color: white;
  font-size: 12px;
  font-weight: bolder;
}

#crumbs ul li span {
  font-weight: normal;
}

#crumbs ul li a {
  margin: 0 3px;
  border: 0;
  color: white;
  font-weight: bolder;
  text-decoration: none;
}

#crumbs ul li a:hover {
  text-decoration: underline;
  background: transparent;
}

#searchBox {
  padding: 1px 0;
  text-align: right;
}

#searchBox input {
  border: 1px solid #222;
  font-size: 11px;
  padding: 1px;
  width: 100px;
  background: #fff3ce;
}

#searchBox input:focus {
  background: #f8f8f8;
}

#searchBox button {
  margin: 0 0 0 2px;
  border: 0;
  padding: 0;
  font-size: 10px;
  color: #ccc;
  background: #444;
  height: 18px;
}

/** Content **/

#outerContentWrapper {
  clear: both;
  background: url('../../images/layout/content-back.gif') repeat-x;
}

#innerContentWrapper {
  margin: 0 auto;
  padding: 0px;
  width: 880px;
  text-align: left;
}

#innerContentWrapper  h1 {
  margin: 0;
  padding: 5px 0 5px 10px;
  border: 0;
}

#pageTitle {
  margin-bottom: 0;
  color: #333;
  font-weight: normal;
}

#pageContent {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-width: 1px 0;
  background: white;
}

#content {
  float: left;
  width: 600px;
  min-height: 400px;
  font-size:12px;
}

#content .description{
  line-height: 130%;
  font-size: 12px;
}

/** Sidebar **/

#sidebar {
  margin-top: 30px;
  margin-left: 605px;
  padding: 0 10px;
  font-size: 10px;
  color : #000000;
}


#sidebar h2 {
  margin-top: 0;
  font-size: 11px;
  color : #A53200;
}


#sidebar .blockContent {
  margin-bottom: 10px;
  padding: 0 5px;
  line-height: 120%;
}

#sidebar .listWithDetails li {
  padding-bottom: 5px;
}

/** Page actions **/

#page_actions {
  margin-bottom: 10px;
}

#page_actions ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#page_actions ul li {
  padding-right: 3px;
  display: inline;
  font-weight: normal;
  font-size: 10px;
}

#page_actions ul li a {
  border: 0;
  padding: 0 15px 0 0;
  color: #444;
  font-weight: bold;
  text-decoration: none;
  background: url('../../images/icons/more_down.gif') no-repeat right bottom;
}

#page_actions ul li a:hover {
  color: black;
}

/** Footer **/

#footer {
  clear: both;
  margin: 10px auto;
  padding: 0 10px 10px 10px;
  width: 880px;
  text-align: left;
  color: #999;
  line-height: 130%;
  font-size: 9px;
}

#copy {
  float: left;
}

#productSignature {
  text-align: right;
}

#listOfRssFeeds {
  list-style: none;
  padding: 0 0 0 4px;
}

#listOfRssFeeds li {
  padding-left: 16px;
  background: url('../../images/icons/feed.gif') no-repeat;
  line-height: 12px;
  margin: 2px 0;
}

/** Helper classes **/

.clear {
  clear: both;
  height: 1px;
  overflow: hidden;
}

#error, #success {
  margin: 10px 0;
  padding: 5px 10px;
  border: 1px solid #ccc;
  clear: both;
  cursor: pointer;
  text-align: left;
}

#error {
  background: #FFB0B0;
  border-color: red;
}

#success {
  background: #90DC90;
  border-color: green;
}

/** User card **/

div.card {
  padding: 10px;
  border: 1px solid #ccc;
}

* html div.card {
  padding-top: 5px;
}

div.card div.cardIcon {
  float: left;
  width: 50px;
}

div.card div.cardData {
  margin-left: 60px;
}

div.card div.cardData h2 {
  margin-top: 0;
}

div.card div.cardBlock {
  margin-bottom: 25px;
  padding-left: 10px;
}

div.card div.cardBlock span {
  font-size: 90%;
  font-weight: bolder;
  color: #333;
}

div.card table {
  margin-top: 10px;
}

div.card table, div.card table tr, div.card table td {
  border: 0;
}

div.card table tr, div.card table td {
  padding: 2px;
}

/** / user card **/

/** Advanced pagination **/

div.advancedPagination {
  margin: 10px;
  text-align: right;
}

div.advancedPagination span {
  line-height: 20px;
}

div.advancedPagination select {
  padding: 0;
}

/** /Advanced pagination **/

/** Private **/

div.private {
  float: right;
  height: 9px;
  width: 37px;
  overflow: hidden;
  background: url('../../images/icons/private.gif') no-repeat;
}

div.private span {
  display: none;
}

.messageOptions {
  font-size: 9px;
  color:#BB643F;
  text-align: right;
}

.messageOptions a {
  font-size: 9px;
  color:#BB643F;
}

.involvedCompanies {
  font-size: 10px;
  color:#999;
}

.startedOnBy {
  font-size: 10px;
  color:#999;
}

.involvedCompanies a {
  font-size: 10px;
  color:#999;
}

.startedOnBy a {
  font-size: 10px;
  color:#999;
}

div .block {
  background:#FFFFCE;
}

