#people div.projectCompany {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  min-height: 50px;
}

* html #people div.projectCompany {
  height: 50px;
}

#people div.projectCompanyLogo {
  float: left;
  padding:10px 20px 25px 10px;
  background: url('../../images/layout/iconbg.gif') no-repeat top left;
}

#people div.projectCompanyMeta {
  margin-left: 60px;
}

#people div.projectCompany a.companyName {
  font-size: 12px;
  font-weight: bold;
}

#people div.projectCompanyAddress, #people div.projectUserTitle, #people div.projectUserEmail {
  margin-top: 5px;
  padding-left: 5px;
  font-size: 90%;
  color: #666;
  line-height: 120%;
}

#people div.projectCompanyHomepage {
  margin-top: 5px;
  padding-left: 5px;
  font-size: 90%;
  line-height: 100%;
}

#people div.projectCompanyOptions {
  margin-top: 5px;
  font-size: 10px;

}

#people div.projectCompanyUsers table {
  margin-top: 20px;
  background: white;
  width: 448px;
}

#people div.projectUserTitle, #people div.projectUserEmail {
  margin: 0;
}