#massMailer div.massmailercompanyLogo {
  float: right;
}

#massMailer div.massmailercompanyLogo img {
  border: 1px solid #ccc;
}

#massMailer div.massmailerRecipeints {
  padding-top: 5px;
  padding-left: 10px;
}