/*#userPermissions {
  border-top: 1px solid #ccc;
}*/

#userPermissions table {
  width: 500px;
  border: 1px solid #ccc;
  border-width: 1px 0;
  border-collapse: collapse;
}

#userPermissions td.projectName {
  width: 180px;
  max-width: 180px !important;
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}