table.applicationLogs {
  width: 640px;
  background: url('../images/layout/yellow-gradient.jpg') repeat-x;
  border-bottom:1px solid #ccc;
}

table.applicationLogs th {
  background: #fff;


}

table.applicationLogs tr.logToday {
  background: url('../images/logtypes/today.gif') repeat-y;

}

table.applicationLogs tr.logYesterday {
  background: url('../images/logtypes/yesterday.gif') repeat-y;


}

/* IE7 TABLE ROW BG FIX */ 

table.applicationLogs tr.logToday td.logDetails {
  background: url('../images/logtypes/today.gif') repeat-y top right;
  border-top: 1px solid #f0e0a2;
}

table.applicationLogs tr.logToday td.logProject {
  background: url('../images/logtypes/today.gif') repeat-y top right;
  border-right: 1px solid #ffcc00;
  border-top: 1px solid #f0e0a2;
}

table.applicationLogs tr.logToday td.logTakenOnBy {
  background: url('../images/logtypes/today.gif') repeat-y top right;
  border-top: 1px solid #f0e0a2;
  border-right: 1px solid #ffcc00;
}

table.applicationLogs tr.logToday td.logTypeIcon {
  border-top: 1px solid #f0e0a2;
}

table.applicationLogs tr.logYesterday td.logDetails {
  background: url('../images/logtypes/yesterday.gif') repeat-y top right;
  border-top: 1px solid #c9eaa9;
}

table.applicationLogs tr.logYesterday td.logProject {
  background: url('../images/logtypes/yesterday.gif') repeat-y top right;
  border-right: 1px solid #bbda9d;
  border-top: 1px solid #c9eaa9;
}

table.applicationLogs tr.logYesterday td.logTakenOnBy {
  background: url('../images/logtypes/yesterday.gif') repeat-y top right;
  border-right: 1px solid #bbda9d;
  border-top: 1px solid #c9eaa9;

}

table.applicationLogs tr.logYesterday td.logTypeIcon {
  border-top: 1px solid #c9eaa9;
}

table.applicationLogs tr.logOlder td.logDetails {
  background: url('../images/logtypes/old.gif') repeat-y top right;
  border-top: 1px solid #d5d5d5;
}

table.applicationLogs tr.logOlder td.logProject {
  background: url('../images/logtypes/old.gif') repeat-y top right;
  border-right: 1px solid #ccc;
  border-top: 1px solid #d5d5d5;
  }

table.applicationLogs tr.logOlder td.logTakenOnBy {
  background: url('../images/logtypes/old.gif') repeat-y top right;
  border-right: 1px solid #ccc;
  border-top: 1px solid #d5d5d5;
 }

table.applicationLogs tr.logOlder td.logTypeIcon {
  border-top: 1px solid #d5d5d5;
}

/* END FIX*/ 

table.applicationLogs tr.logOlder {
  font-style: italic;
  border-right: 1px solid #ccc;
  background: url('../images/logtypes/old.gif') repeat-y;
}

table.applicationLogs td {

}

table.applicationLogs td.logTypeIcon {
  width: 50px;
  text-align: right;
}

table.applicationLogs td.logTypeIcon img{
  padding-top:5px;
}

table.applicationLogs .logProject, table.applicationLogs .logTakenOnBy {
  text-align: right;
}

table.applicationLogs .logProject {
  width: 300px;
}

table.applicationLogs .logTakenOnBy {
  width: 300px;
}