* {
  margin: 0;
  padding: 0;
}

body {
 font-family: "Lucida Grande", verdana, arial, helvetica, sans-serif;
  color: black;
  background-color: white;
  background: url('../images/layout/content-back.gif') repeat-x top center;
  text-align: center;
  line-height: 150%;
}

a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1px dotted #ccc;
}

a:hover {
  border: 0;
  color: white;
  text-decoration: underline;
}

h1 {
  margin: 0 0 5px 0;
  padding: 0 0 5px 0;
  color: #263356;
  font-size: 20px;

}

h2 {
  margin: 10px 0;
  color: #263356;
  font-size: 16px;
}

p, ul, pre {
  margin: 8px 0;
}

ul {
  padding-left: 20px;
  list-style: square;
}

code {
  padding: 0 2px;
  font-size: 1.2em;
  background: #e8e8e8;
}

pre {
  border: 1px solid #263356;
  padding: 0 8px;
  font-size: 1.2em;
  background: #e8e8e8;
}

acronym {
  border-bottom: 1px dotted #ccc;
  cursor: help;
}

/** Form **/

label {
  margin: 3px 0;
  font-size: 90%;
  font-weight: bold;
  display: block;
}

label.checkbox {
  font-weight: normal;
  display: inline;
}

label span.label_required {
  color: red;
  font-size: 90%;
}

input, textarea, select {
  border: 1px solid #515151;
  padding: 4px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 11px;
  background: white;
}

input:hover, textarea:hover, select:hover {
  border: 1px solid #515151;
}

input:focus, textarea:focus, select:focus {
  border: 1px solid #515151;
}

fieldset {
  margin: 10px 0;
  padding: 10px;
  padding-top: 5px;
  border: 1px solid #ccc;
}

fieldset legend {
  font-size: 90%;
  font-weight: bold;
}

input { width: 200px; }
input.short { width: 50px; }
input.medium { width: 150px; }
input.long { width: 320px; }

input.checkbox {
  border: 0;
  width: auto;
background:transparent;
}

textarea {
  width: 400px;
  height: 150px;
}

textarea.short {
  height: 70px;
}


button.submit {
  margin-top: 10px;
}

span.required {
  color: red;
  font-size: 90%;
}

#formErrors {
  color: red;
height:15px;
border:0;
text-align:center;
margin:0;
font-size:11px;
background: url('../images/layout/error.gif') no-repeat top left;
}

#formErrors p {
display:none;
}


/** Classes **/

.desc {
  font-size: 90%;
  color: #666;
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.note {
  border: 1px solid #263356;
  padding: 0 8px;
  background: #e8e8e8;
}

/** Construction **/

#dialog {
  margin: 150px auto 0 auto;
  background: url('../images/layout/login-bkg-tile.gif') no-repeat top center;
  padding: 30px 30px 200px 55px;
  width: 352px;
font-size:12px;
  color:white;
  text-align: left;
}

 #dialog h1 {
color:white;
padding-right:60px;
}


#error, #success {
  margin: 10px 0;
  padding: 5px 10px;
  border: 1px solid #ccc;
  clear: both;
  cursor: pointer;
  text-align: left;
}

#error {
  background: #FFB0B0;
  border-color: red;
}

#success {
  background: #90DC90;
  border-color: green;
}

/** Login dialog **/

#loginUsernameDiv, #loginPasswordDiv {
  padding-top: 3px;
}

#loginUsernameDiv {
  float: left;
  width: 170px;

}

* html #loginUsernameDiv {
  margin-top: 1px;
}

#loginPasswordDiv {
  width: 170px;
margin-left:170px;

}
.checkbox {
background-color:none;
}

#loginSubmit span, #forgotPasswordSubmit span {
  padding-left: 6px;
  font-size: 11px;
}

* html #loginSubmit span, * html #forgotPasswordSubmit span {
  position: relative;
  top: -4px;
}