#usersList div.listedUser {
  margin: 5px 0;
  padding: 10px;
}

#usersList div.userAvatar {
  float: left;
  width: 50px;
  text-align: center;
}

#usersList div.userAvatar img {
  border: 1px solid #ccc;
}

#usersList div.userDetails {
  margin-left: 60px;
}

#usersList div.userName {
  margin-bottom: 10px;
  font-size: 150%;
  font-weight: bolder;
}

#usersList div.userIsAdmin, #usersList div.userAutoAssign {
  font-size: 90%;
}

#usersList div.userIsAdmin span, #usersList div.userAutoAssign span {
  font-weight: bolder;
  color: #333;
}

#usersList div.userAutoAssign {
  margin-bottom: 10px;
}