/*[fmt]2A10-1A0B-3*/
.attachFiles button.add_button  {
 margin-top: 5px;
}

.attachFiles button.remove_button  {
 font-size: 11px;
}

* html .attachFiles button.remove_button  {
 margin-left: 3px;
}

#attachFormExistingFileControls, #attachFormNewFileControls  {
 padding: 5px 20px;
}

#attachFormExistingFileControls fieldset, #attachFormNewFileControls fieldset  {
 margin: 0 0 10px;
}

/** Attached files **/
div.objectFiles  {
 font-size: 11px;
}

div.objectFiles ul li a span  {
 font-weight: bold;
 white-space: nowrap;
}

div.objectFiles div.objectFilesTitle  {
 font-size: 12px;
}

div.objectFiles div.objectFilesTitle span  {
 color: #333333;
 font-weight: bold;
}

div.objectFilesBrief ul {
  list-style: none;
  padding-left: 0px;
}

