#objectComments div.comment { margin: 8px 0; padding: 10px; }
#objectComments .header { }
#objectComments .header a { font-weight: bold; }
#objectComments .content { }
#objectComments .commentUserAvatar { float: left; margin: 5px 5px 0 0; }
#emailNotification .companyName { padding: 2px; }
#emailNotification li { list-style: none; }