div.filesOrderAndPagination { background: url('../../images/logtypes/old.gif') #f5f5f5 repeat-x top right; border: 1px solid #e0e0e0; font-size: 11px; min-height: 20px; padding: 2px 5px; }
div.filesOrder { float: left; line-height: 20px; }
div.filesOrder span { font-weight: bold; }
div.filesOrderAndPagination div.advancedPagination { margin: 0; }
/** File info **/
div.listedFile { clear: left; margin: 8px 0; padding: 8px; }
div.listedFile div.fileIcon { float: left; text-align: center; width: 100px; }
div.listedFile div.fileInfo { margin-left: 115px; }
div.listedFile div.fileName { font-size: 120%; font-weight: bold; padding-bottom: 4px; }
div.listedFile div.fileDescription p, div.listedFile div.fileDescription ul, div.listedFile div.fileDescription ol { margin: 3px 0; }
div.listedFile div.fileLastRevision, div.listedFile div.fileDetails, div.listedFile div.fileTags { color: #666666; font-size: 11px; }
div.listedFile div.fileOptions { margin-top: 5px; }
/** Add / edit file **/
#selectFileControl { float: left; width: 250px; }
#selectFolderControl { margin-left: 250px; }
#selectFileControl label, #selectFolderControl label { margin-top: 0; }
#revisionControls { margin-top: 10px; }
#revisionControls label { font-weight: bold; }
/** File details page **/
#fileIcon { float: left; padding: 5px 5px 0 5px; text-align: center; width: 100px; }
#fileInfo { margin-left: 115px; }
#fileInfo div span.propertyName { color: #555555; font-weight: bold; }
div.revision { background: url('../../images/logtypes/old.gif') #f5f5f5 repeat-x top right; border: 1px solid #e0e0e0; padding: 5px 10px; }
div.lastRevision { background: url(../../images/layout/bg_success.png) repeat-x top center; background-color: #faf9e4; border: 1px solid #f2eeb7; padding: 5px; }
div.revisionName { color: #bf5940; font-size: 13px; font-weight: bold; }
div.revisionName span { color: #333333; font-weight: normal; }
div.revisionComment { border-bottom: 1px solid #e0e0e0; margin: 5px 0; padding: 0 8px; }
a.downloadLink { font-weight: bold; }
a.downloadLink span { font-weight: normal; }