/** Message display **/
.message .avatar 
{
        padding: 10px;
}
.message .block .header
{
	font-size: 150%;
	padding-bottom: 5px;
}
.message .details
{
	background: #F8F8F8;
	border: 1px solid #E8E8E8;
	padding: 2px 5px;
}
.message .private
{
	margin-top: 4px;
}
.message H1, .message H2, .message H3
{
	border-bottom: 1px solid #CCCCCC;
	font-weight: normal;
}
.message H1
{
	font-size: 2em;
}
.message H2
{
	font-size: 1.5em;
}
.message H3
{
	font-size: 1.1em;
	text-decoration: none;
}
.message .text
{
	line-height: 120%;
	padding: 10px;
	font-size: 1em;
}
.message .messageSeparator
{
	font-size: 0.8em;
	font-weight: bold;
	text-align: center;
}
.message .objectFilesTitle SPAN, .message .messageCommentCount SPAN, .message .messageTags SPAN
{
	color: #333333;
	font-weight: bold;
}
.message .messageOptions
{
	margin-top: 10px;
}
.message .messageComment
{
	margin: 10px;
}
.message .messageCommentHead
{
	font-size: 0.9em;
	font-weight: bold;
}
.message .messageCommentBody
{
	background: #FFFFFF;
	border: 1px solid #CCCCCC;
	border-width: 1px 0;
	padding: 10px;
}


.message .avatar 
{
        float: left;
        padding: 5px px 0 0;
}