div.projectCompany { background: url('../../images/logtypes/old.gif') #f5f5f5 repeat-x top right; border: 1px solid #e0e0e0; margin: 10px 0; min-height: 50px; padding: 10px; }
* html div.projectCompany { height: 50px; }
div.projectCompanyLogo { background: url('../../images/logtypes/old.gif') #f5f5f5 repeat-x top right; border: 1px solid #e0e0e0; float: left; margin: 5px; padding: 0px; }
div.projectCompanyMeta { margin-left: 70px; }
div.projectCompany .projectCompanyTitle { margin: 10px 0 0 10px; }
div.projectCompany .projectCompanyTitle label { font-weight: bold; }
div.projectCompany div.projectCompanyUsers { margin: 10px 0 0 10px; }
div.projectCompany div.projectUserPermissions { padding-left: 10px; }
div.projectCompany tr.user { border: 1px solid #e0e0e0; border-width: 1px 0; }
