div.taskList .desc  {
 font-size: 110%;
 color: #666;
}

div.taskList .openTasks, .taskList .completedTasks  {
 margin: 10px;
}

div.taskList td.taskCheckbox  {
 padding-top: 4px;
 width: 20px;
}

div.taskList .addTask  {
 background: url(../../images/layout/bg_block.png) repeat-x top left;
 background-color: #E9F1F5;
 border: 1px solid #BBD7E2;
 padding: 5px;
}

div.taskList .completedTasks  {
 color: #666666;
 font-size: 12px;
}

div.taskList .completedTasks td  {
 line-height: 16px;
 padding: 0 2px;
}

div.taskList span.taskCompletedOnBy  {
 color: #333333;
 font-style: italic;
}

table.blank tr td.taskText{
xmargin-bottom:5px;
background-color: white;
border-top: 1px solid black;
}

div.taskList .dueDate {
 padding: 2px 5px 0;
}

div.taskList .startDate {
 padding: 2px 5px 0;
}

div.taskList .taskText .dueDate {
 padding: 0;
}

div.taskList .taskText .startDate {
 padding: 0;
}