/** Tickets display **/

#tickets .critical, #tickets_legend .critical {
  xbackground-color: #ffbaba;
  background: #F9EAE4 url('../../images/layout/bg_alert.png') repeat-x top right;
  height: 100%;
}

#tickets .major, #tickets_legend .major {
  xbackground-color: #fcffb1;
  background: #EBF2F6 url('../../images/layout/bg_block.png') repeat-x top right;
  height: 100%;
}

#tickets .minor, #tickets_legend .minor {
  xbackground-color: #d6e7ff;
  background: #FAFAE0 url('../../images/layout/bg_success.png') repeat-x top right;
  height: 100%;
}

#tickets .trivial, #tickets_legend .trivial {
  background-color: #ffffff;
  background: #EBF2F6 url('../../images/layout/bg_userbox.png') repeat-x top right;
  height: 100%;
}

#tickets_legend {
  width: 120px;
}

#tickets_legend .legend {
  border: 1px solid #000000;
  padding: 2px;
  margin-bottom: 2px;
}

#tickets_legend ul {
  xlist-style: none;
}

#tickets_legend li .legend {
  list-style: none;
}
/** Ticket display */
#ticket {
 background: #ffd;
 border: 1px outset #996;
 margin-top: 1em;
 padding: .5em 1em;
 position: relative;
}

#ticket table.properties {
 width: 100%;
}

#ticket select {
 width: 145px;
}

.status {
 text-decoration: none;
}