/*[fmt]2A10-1A0B-3*/
table.applicationLogs  {
 font-size: 1em;
}

table.applicationLogs th  {
 background: #D8D8D8;
 background-image: url(../images/logtypes/bg_th.gif);
 background-repeat: repeat-x;
 border: 1px solid #CCCCCC;
 padding: 2px 4px;
}

/*IE7 TABLE ROW BG FIX*/
table.applicationLogs tr.logToday {
 background: #EDF5D6 url('../images/logtypes/today.gif') repeat-x top right;
 border: 1px solid #D7E5B2;
}

table.applicationLogs tr.logToday td.logTypeIcon  {
 background: #EDF5D6 url('../images/logtypes/today.gif') repeat-x top right;
 border: 1px solid #D7E5B2;
}

table.applicationLogs tr.logYesterday {
 background: #EBF2F6 url('../images/logtypes/yesterday.gif') repeat-x top right;
 border: 1px solid #D0E3EB;
}

table.applicationLogs tr.logYesterday.even  {
 background: transparent;
}

table.applicationLogs tr.logYesterday td.logTypeIcon  {
 border-top: 1px solid #C9EAA9;
}

table.applicationLogs tr.logOlder td.logDetails, table.applicationLogs tr.logOlder td.logProject, table.applicationLogs tr.logOlder td.logTakenOnBy  {
 border: 1px solid #E0E0E0;
}

table.applicationLogs tr.logOlder td.logTypeIcon  {
 border: 1px solid #E0E0E0;
}

/*END FIX*/
table.applicationLogs td  {
 padding: 2px 4px;
}

table.applicationLogs td.logTypeIcon  {
 padding: 2px 6px;
 text-align: right;
 width: 50px;
}

table.applicationLogs .logProject, table.applicationLogs .logTakenOnBy  {
 text-align: right;
}

table.applicationLogs .logProject  {
 width: 220px;
}

table.applicationLogs .logTakenOnBy  {
 width: 100px;
}

div.logProjectHeader  {
 padding: 5px 0px 2px 0px;
 font-weight: bold;
 font-size: 14px;
}

table.applicationLogs.logBy  {
 width: 150px;
}

table.applicationLogs td.logDetails  {
 width: 300px;
}
table.applicationLogs .task td.logTypeIcon  {
 border-left: 8px solid #E0E000 !important;
}

table.applicationLogs .comment td.logTypeIcon  {
 border-left: 8px solid  #D0E3EB !important;
}

table.applicationLogs .task_list td.logTypeIcon  {
 border-left: 8px solid #E0E080 !important;
}

table.applicationLogs .milestone td.logTypeIcon  {
 border-left: 8px solid #F3DEA1 !important;
}

table.applicationLogs .message td.logTypeIcon  {
 border-left: 8px solid #43DEA1 !important;
}

table.applicationLogs .time td.logTypeIcon  {
 border-left: 8px solid #FFA066 !important;
}

table.applicationLogs .file td.logTypeIcon  {
 border-left: 8px solid #66A066 !important;
}

table.applicationLogs .link td.logTypeIcon  {
 border-left: 8px solid #66A0FF !important;
}

table.applicationLogs .ticket td.logTypeIcon  {
 border-left: 8px solid #C888A0 !important;
}

table.applicationLogs .folder td.logTypeIcon  {
 border-left: 8px solid #D0A040 !important;
}

table.applicationLogs .form td.logTypeIcon  {
 border-left: 8px solid #4497C8 !important;
}

table.applicationLogs .wiki td.logTypeIcon  {
 border-left: 8px solid #E07090 !important;
}

table.applicationLogs .category td.logTypeIcon  {
 border-left: 8px solid #007090 !important;
}

table.applicationLogs .project td.logTypeIcon  {
 border-left: 8px solid #336633 !important;
}

table.applicationLogs .user td.logTypeIcon  {
 border-left: 8px solid #FF0000 !important;
}

table.applicationLogs .file_revision td.logTypeIcon  {
 border-left: 8px solid #C89744 !important;
}

table.applicationLogs .contact td.logTypeIcon  {
 border-left: 8px solid #002244 !important;
}

table.applicationLogs .company td.logTypeIcon  {
 border-left: 8px solid #226644 !important;
}

table.applicationLogs .internationalization td.logTypeIcon  {
 border-left: 8px solid #446688 !important;
}

table.applicationLogs .locale_value td.logTypeIcon  {
 border-left: 8px solid #442288 !important;
}