@import 'general/rewrites.css';
@import 'general/forms.css';
@import 'general/construction.css';

select.select_milestone, select.select_task_list, select.select_message { width: 250px; }

#project .block { margin-left: 105px; }

#project .hint { padding-left: 0px; }

#project .icon{ margin-left: 7px; margin-top: 7px; }