#usersList .listedUser {
  margin: 5px 0;
  padding: 5px;
}

#usersList .userAvatar {
  float: left;
  width: 50px;
  text-align: center;
}

#usersList .userAvatar img {
  xborder: 1px solid #ccc;
}

#usersList .userDetails {
  margin-left: 60px;
}

#usersList .userName {
  margin-bottom: 5px;
  font-size: 120%;
  font-weight: bolder;
}

#usersList .userIsAdmin, #usersList .userAutoAssign, #usersList .userUseLDAP  {
  xfont-size: 90%;
}

#usersList .userIsAdmin, #usersList .userAutoAssign, #usersList .userUseLDAP {
  color: #333;
}
