#massMailer div.massmailercompanyLogo { float: right; }
#massMailer div.massmailercompanyLogo img { border: 1px solid #cccccc; }
#massMailer div.massmailerRecipeints { padding-left: 10px; padding-top: 5px; }
