div.projectLog {
  line-height: 150%;
}

div.projectLog table {
  width: 530px;
}

div.projectLog a {
  font-weight: normal;
}

div.projectLog tr {
  border-bottom: 1px dotted #ccc;
}

div.projectLog tr td {
  padding: 5px;
}