/** Message display **/

.message .block {
  font-size: 16px;
  padding-bottom: 5px;
}

.message .block .header {
  font-size: 16px;
  padding-bottom: 5px;

}

.message .messageDetails {
  padding: 2px 5px;
}

.message .messageDetails .private {
  margin-top: 4px;
}

.message h1, .message h2, .message h3 {
  font-weight: normal;
}

.message h1 {
  font-size: 2em;
}

.message h2 {
  font-size: 1.5em;
}

.message h3 {
  font-size: 1.1em;
  text-decoration: none;
}

.message .messageText {
  padding: 5px;
  line-height: 150%;
  font-size: 12px;
}

.message .messageSeparator {
  text-align: center;
  font-size: 9px;
  font-weight: bolder;
}

.message .objectFilesTitle span, .message .messageCommentCount span, .message .messageTags span {
  color: #425563;
  font-weight: bold;
  font-size: 10px;
}

.message .messageCommentCount {
  text-align: right;
  font-size: 10px;
  color: #000;
}

.message .messageCommentCount a {
  text-align: right;
  font-size: 10px;
  color: #000;
}

.message .messageAuthor {
  text-align: right;
  font-size: 10px;
  color: #000;
}

.message .messageTags {
  text-align: right;
  font-size: 10px;
  color: #000;
}

.message .messageAuthor a {
  font-size: 10px;
  color: #000;
}

.message .messageOptions {
  text-align: right;
  margin-top: 10px;
  color: #000;
}

.message .messageComment {
  margin: 10px 10px;
}

.message .messageCommentHead {
  font-weight: bolder;
  font-size: 90%;
}

.message .messageCommentBody {
  border: 1px solid #ccc;
  border-width: 1px 0;
  padding: 10px;
  background: white;
}

/** Add message form **/

#emailNotification .companyDetails {
  margin: 10px 0;
  border: 1px dotted #ccc;
  padding: 5px 10px;
}

#emailNotification .companyName label {
  font-weight: bolder;
}

#emailNotification .companyMembers {
  padding-top: 5px;
}

#emailNotification .companyMembers ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#emailNotification .companyMembers ul li {
  display: inline;
  padding-right: 5px;
}