div.taskList {
  font-size: 12px;
}

span.taskTexts a {
  font-size: 12px;
  color: #000;
}

span.taskTexts a:hover {
  text-decoration: underline;
}

div.taskList .block{
  background: #eef7ff;
  font-size: 12px;
}

div.taskList .header{
  font-size: 16px;
  font-weight: bold;
}

div.taskList .desc {
  padding: 5px;
  padding-bottom: 0;
}

div.taskList .openTasks, .taskList .completedTasks {
  margin: 10px;
}

div.taskList td.taskCheckbox {
  padding-top: 4px;
}

div.taskList span.assignedTo {
  font-weight: bolder;
}

div.taskList .addTask {
  margin-top: 5px;
  margin-left: 25px;
  padding: 2px;
  background: #e8f3ff;
  font-size: 10px;
}

div.taskList .options {
  padding: 10px;
  padding-top: 0;
  font-size: 10px;
}

div.taskList .completedTasks {
  color: #666;
  font-size: 10px;
}

div.taskList .completedTasks td {
  padding: 0 2px;
  line-height: 16px;
}

div.taskList span.taskCompletedOnBy {
  font-style: italic;
  color: #999;
  font-size: 11px;
}

div.taskList span.taskCompletedOnBy a:hover {
  text-decoration: underline;
}

div.taskList .taskListTags {
  margin: 10px;
  font-size: 10px;
}

div.taskList .taskListTags span {
  font-weight: normal;
}

div.taskList span.taskCompletedOnBy a {
  color: #999;
}
