body 
{
  color:#000066;
  text-align: left;
  font-weight: normal;
  font-size: 80%; 
}

a:visited    	
{ 
  color: #006;
}

a:hover    
{ 
   background-color: #fffbab;
   border-bottom-width: 1px;
   border-bottom-style: dotted;
   bordor-bottom-color: -moz-use-text-color;
}

#wrapper {
  width: 900px;
  margin: 0 auto;
  padding-top: 10px;
  background: #FFFFFF url('../../images/layout/header.jpg') top center no-repeat;
}

#header {
  top: 8px;
  width: 870px;
  margin-top: 15px;
  margin-left: 12px;
  margin-bottom:25px;
  text-align: left;
  background: #FFF;
  filter:alpha(opacity=90);
  -moz-opacity:.90;
  opacity:.90;
}

#headerWrapper {
   /* background: #FFF; */
}

#header h1 {
  float: left;
  margin: 0;
  padding: 10px 10px 10px 10px;
  border: 0;
  background: #FFF;
}

#header h1 a {
  font-weight: bold;
  border: 0;
  font-size: 120%;
  color: #000063;
}

#header h1 a:hover {
  border: 0;
  text-decoration: underline;
}

#systemNoticesWrapper {
  background: red;
  color: white;
  text-align: center;
}

#systemNotices {
  margin: 0 auto;
  padding: 10px 0;
  width: 900px;
  text-align: left;
}

#systemNotices ul {
  margin: 0;
  padding: 0 0 0 15px;
}

#systemNotices a, #systemNotices a:hover {
  border: 0;
  color: white;
  text-decoration: underline;
}

#userboxWrapper {
  background-color: #fff;
  float: right;
  width: 500px;
  z-index: 250;
}

/*---------- general userbox links------------------*/ 
#account_more_menu {
  float: right;
  list-style: none;
}

#account_more_menu li {
  float: left;
  margin: 0px 6px 0px 2px;
}

#account_more_menu li a{
  border: 1px solid #000066;
  display: block;
  padding: 0px 8px;
  color: #000063;
  font-size: 12px;
  line-height: 20px;
  background : #ffffff;
}

/*-------------------- submenus---------------------*/ 
#account_more_menu li ul {
  clear: left;
  left: -999em; /* using left instead of display to hide menus because display: none isn't read by screen readers */
  filter:alpha(opacity=90);
  -moz-opacity:.90;
  opacity:.90;
  border: 1px solid #000066;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 3000 !important;
}

#account_more_menu li ul li {
  background-color: #fff;
  line-height: 20px;
  border: none;
  float: none;
  list-style: none;
  list-style-image: none !important;
  margin: 0;
  padding: 0;
  height: auto;
}

* html #account_more_menu ul li, * html #account_more_menu ul li a {
  height: 1%;
}

#account_more_menu h6 {
  color: #000066;
  font-weight: bold;
  margin: 0;
  padding: 3px 10px !important;
}

#account_more_menu li ul li a {
  position: relative;
  background-image: none !important;
  border: none;
  border-bottom: 1px solid #d8d8d8;
  font-weight: normal;
  height: auto;
  margin: 0;
  padding: 3px 10px !important;
}

#account_more_menu li:hover ul ul, #account_more_menu li:hover ul ul ul, #account_more_menu li.sfhover ul ul, #account_more_menu li.sfhover ul ul ul{
  left: -999em;
}

#account_more_menu li:hover ul, #account_more_menu li li:hover ul, #account_more_menu li li li:hover ul, #account_more_menu li.sfhover ul, #account_more_menu li li.sfhover ul,  #account_more_menu li li li.sfhover ul{
  left: auto; /* lists nested under hovered list items */
}

/*-------------------- 1st level  hover---------------------*/ 
#account_more_menu li:hover a, #account_more_menu li.sfhover a {
  background-color: #eef6ff;
  position: relative;
  z-index: 2500;
  color: #000066;
}

/*-------------------- second level on hover---------------------*/ 
#account_more_menu li li:hover a, #account_more_menu li li.sfhover a{
  xbackground-color: #fff;
  background-color: #000066;
  xbackground-color: transparent;
  color: #fff;
  color: #000066;
}

#account_more_menu li:hover li a:hover, #account_more_menu li.sfhover li a:hover{
  background-color: #eef6ff;
  color: #000066;
}

#account_more_menu li ul li:hover a:hover {
  background-color: #000066;
  color: #fff;
}

/*-------------------- ie mac fixes ---------------------*/ 
/* only IE mac will see this */
* html>body #account_more_menu li a{
}

* html>body #account_more_menu li{
	text-align: center;
	white-space: nowrap;
	width: 60px;
}

* html>body #account_more_menu li li{
	text-align: left;
	white-space: nowrap;
	width: 125px;
}

* html>body #account_more_menu li li:hover ul,#account_more_menu li li.sfhover ul{
	left: 110px;
}

/** Tabs **/

#tabsWrapper {
  width: 900px;
	
  margin: 5px auto 0 auto;
  text-align: left;
}

#tabs {
  float: left;
  width: 770px;
}

#tabs ul {
  margin: 0;
  padding: 0 10px;
  list-style: none;
}

#tabs ul li {
  margin: 0 2px;
  float: left;
}

#tabs ul li a {
  border-top: 1px solid #000066;
  border-left: 1px solid #000066;
  border-right: 1px solid #000066;
  display: block;
  padding: 0px 8px;
  color: #000063;
  line-height: 20px;
  background : #ffffff;
}

#tabs ul li a:hover {
  border: 1px solid #000066;
  color: #000066;
  background : #D9E8FF;
}

#tabs ul li.active a {
  border: 1px solid #000066;
  background : #000066;
  color : #FFF;
  font-weight: bold;
}

#tabs ul li.active a:hover {
  color: white;
}

/** Crumbs **/

#crumbsWrapper {
  clear: both;
  background: #000066;
  margin: -1px auto;
  float: left;
  width: 100%;
}

#crumbsBlock {
  margin: 0 auto;
  padding: 0 10px;
  width: 880px;
  line-height: 25px;
}
    
#crumbs {
  float: left;
}

#crumbs ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#crumbs ul li {
  display: inline;
  line-height: 22px;
  color: white;
}

#crumbs ul li span {
  font-weight: normal;
}

#crumbs ul li a {
  margin: 0 3px;
  border: 0;
  color: white;
  font-weight: normal;
  text-decoration: none;
}

#crumbs ul li a:hover {
  text-decoration: underline;
  background: transparent;
}

#searchBox {
  text-align: right;
  height: 20px;
}

#searchBox input {
  padding: 1px;
}

#searchBox input:focus {
  background: #D9E8FF;
}

#searchBox button {
  height: 20px;
}

/** Content **/

#outerContentWrapper {
  background: #FFF;
  border-left: 1px dashed #d9e8ff;
  border-right: 1px dashed #d9e8ff;
  padding-top: 0;
  clear: both;
}

#innerContentWrapper {
  margin: 0 auto;
  padding: 10px 0;
  width: 880px;
  text-align: left;
}

#innerContentWrapper h1 {
  margin: 0;
  padding: 5px 0 5px 10px;
  border: 0;
}

#pageTitle {
  clear: both;
  float: left;
  margin-bottom: 0;
  font-family: Verdana,"Lucida Grande",sans-serif;
  font-style: normal;
  font-variant: normal;
  font-size-adjust: none;
  font-stretch: normal;
  margin: 5px 0 15px 0;
  font-size: 160%;
  font-weight: bold;
  color: #000066;
  line-height: 1.2em;
  width: 600px;
}

#pageContent {
  padding: 5px 10px;
  background: white;
}

#content {
  float: left;
  width: 600px;
  min-height: 400px;
}

#content .description{
  line-height: 130%;
}

/** Sidebar **/

#sidebar {
  margin-top: 40px;
  margin-left: 635px;
  padding: 0 10px;
  color : #000066;
}

#sidebar h2 {
  margin-top: 0;
  padding: 2px 2px 2px 15px;
  font-size: 110%;
  color : #fff;
  background-color: #000066;
  font-weight:normal;
}

#sidebar .blockContent {
  margin-bottom: 10px;
  padding: 0 5px;
  line-height: 120%;
}

#sidebar .blockContent li {
  padding-bottom:5px;
}

#sidebar .listWithDetails li {
  padding-bottom: 5px;
}

/** Page actions **/

#pageActionsWrapper {
  width: 900px;

  margin: 5px auto 0 auto;
  text-align: left;
}

#page_actions {
  float: left;
  background: none;
}

#page_actions ul {
  margin: 0;
  padding: 0 10px;
  list-style: none;
}

#page_actions ul li {
  margin: 0 2px;
  float: left;
}

#page_actions ul li a {
  border-bottom: 1px solid #000066;
  border-left: 1px solid #000066;
  border-right: 1px solid #000066;
  xborder: 1px solid #000066;
  display: block;
  padding: 0px 8px;
  color: #000063;
  font-size: 12px;
  font-weight: normal;
  line-height: 20px;
  xbackground : #ffffff;
}

#page_actions ul li a:hover {
  color: #000066;
  background : #D9E8FF;
  xtext-decoration: none;  
}

/** Footer **/

#footer {
  clear: both;
  margin: 10px auto;
  padding: 0 10px 10px 10px;
  width: 880px;
  text-align: left;
  color: #999;
  line-height: 130%;
  font-size: 0.8em;
}

#copy {
  float: left;
}

#productSignature {
  text-align: right;
}

#listOfRssFeeds {
  list-style: none;
  padding: 0 0 0 4px;
}

#listOfRssFeeds li {
  padding-left: 16px;
  background: url('../../images/icons/feed.gif') no-repeat;
  line-height: 12px;
  margin: 2px 0;
}

/** Helper classes **/

.clear {
  clear: both;
  height: 1px;
  overflow: hidden;
}

#error, #success {
  margin: 10px 0;
  padding: 5px 10px;
  border: 1px solid #ccc;
  clear: both;
  cursor: pointer;
  text-align: left;
}

#error {
  background: #FFB0B0;
  border-color: red;
}

#success {
  background: #90DC90;
  border-color: green;
}

/** User card **/

div.card {
  padding: 10px;
  border: 1px solid #ccc;
}

* html div.card {
  padding-top: 5px;
}

div.card div.cardIcon {
  float: left;
  width: 50px;
}

div.card div.cardData {
  margin-left: 60px;
}

div.card div.cardData h2 {
  margin-top: 0;
}

div.card div.cardBlock {
  margin-bottom: 25px;
  padding-left: 10px;
}

div.card div.cardBlock span {
  font-size: 90%;
  font-weight: bolder;
  color: #333;
}

div.card table {
  margin-top: 10px;
}

div.card table, div.card table tr, div.card table td {
  border: 0;
}

div.card table tr, div.card table td {
  padding: 2px;
}

/** / user card **/

/** Advanced pagination **/

div.advancedPagination {
  xfont-size: 9px;
  margin: 10px;
  text-align: right;
}

div.advancedPagination span {
  line-height: 20px;
}

div.advancedPagination select {
  padding: 0;
}

/** /Advanced pagination **/

/** Private **/

div.private {
  float: right;
  height: 9px;
  width: 37px;
  overflow: hidden;
  background: url('../../images/icons/private.gif') no-repeat;
}

div.private span {
  display: none;
}

.messageOptions {
  xfont-size: 9px;
  color:#000066;
  text-align: right;
}

.messageOptions a {
  xfont-size: 9px;
  color:#000066;
}

.involvedCompanies {
  xfont-size: 10px;
  color:#999;
}

.startedOnBy {
  xfont-size: 10px;
  color:#999;
}

.involvedCompanies a {
  xfont-size: 10px;
  color:#999;
}

.startedOnBy a {
  xfont-size: 10px;
  color:#999;
}

div .block {
  background: #eeeeee;
}
