#objectComments div.comment {
  margin: 40px 0;
  padding: 10px;
  border-top: 1px solid #ababab;
	border-bottom: 1px solid #ababab;
}

#objectComments .commentHead {
  color: #333;
  font-size: 10px;
}

#objectComments .commentHead a {
  font-weight: bolder;
}

#objectComments .commentBody {
  border-width: 1px 0;
  padding: 0 10px;
}

#objectComments .commentUserAvatar {
  float: left;
  margin: 10px 10px 10px 0;
}

