/* @override http://squid.advanstar.info/public/assets/themes/advanstar/stylesheets/application_logs.css */

table.applicationLogs {
  width: 530px;
}

table.applicationLogs th {
  background: transparent;
  border-bottom: 1px solid #A10E0E;
  font-size: 1.0em;
  xpadding-right: 10px;
  xmargin-right: 2px;
}

table.applicationLogs tr.logToday {
  background: #f9ffeb;
}

table.applicationLogs tr.logYesterday {
  background: #fcfff5;
}

table.applicationLogs tr.logOlder {
  background: white;
}

table.applicationLogs td {
  border-bottom: 1px dotted #c8dbc2;
  padding: 5px;
}

table.applicationLogs td.logTypeIcon {
  width: 68px;
  xpadding-left: 10px;
}

table.applicationLogs .logProject, table.applicationLogs .logTakenOnBy {
  text-align: right;
}

div .logProjectHeader {
  font-weight: bold;
  font-size: 1.2em;
  padding: 5px;
  background: #A10E0E;
  color: #ffffff;
}

div .logProjectHeader a {
  color: #ffffff;
}

div .logProjectHeader a:hover {
  background: #B81010;
}

table.applicationLogs .logProject {
  width: 100px;
}

table.applicationLogs .logTakenOnBy {
  xwidth: 150px;
  xpadding-right: 10px;
}

table.applicationLogs .logTakenOn {
  width: 62px;
}

table.applicationLogs .logBy {
  width: 100px !important;
}

table.applicationLogs .logDetails {
  width: 300px;
}

#tickets .tickets_header {
  font-weight: bold;
  font-size: 1.2em;
  padding: 5px;
  background: #A10E0E;
  color: #ffffff;
}